{% extends 'base.html' %}

{% block title %}
Events 
{% endblock %}


{% block content %}
<h2>Panthers Events</h2> 
<h4> Civil </h4>
<div class="container">
    {% for g in b %}
        <h5>{{ g.name }} by {{ g.author }} at {{ g.date }} </h5>
        <p>{{ g.description }}</p>
        <hr>
</div>
   {% endfor %}


<h4> Electrical </h4>
<div class="container">
    {% for g in a %}
<h5> {{ g.name }} by {{ g.author }}  at {{ g.date }} </h5>
<p>{{ g.description }}</p>
<hr>
    {% endfor %}
</div>

<h3 style="text-decoration: underline;"><a href="http://127.0.0.1:8000/Feed/Events/Add/"> Add a new event </a></h3>

{% endblock %}