{% load staticfiles %}

<!DOCTYPE HTML>
<html>
<head>
<title>Panthers University</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Style Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href='//fonts.googleapis.com/css?family=Raleway:400,600,700' rel='stylesheet' type='text/css'>
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />	
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- animation-effect -->
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet"> 
<script src="{% static 'js/wow.min.js' %}"></script>
<script>
 new WOW().init();
</script>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<!-- //animation-effect -->
</head>
<body>
<div class="header" id="ban">
		<div class="container">
			<div class="head-left wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
				
			</div>
			<div class="header_right wow fadeInLeft animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="link-effect-7" id="link-effect-7">
						<ul class="nav navbar-nav">
							<li><a href="index.html">Home</a></li>
							<li><a href="News.html">News</a></li>
							<li><a href="Events.html">Events</a></li>
							<li><a href="StudentHub.html">StudentHub</a></li>
							<li><a href="Admitions.html">Addmission</a></li>
							<li><a href="panthers.html">Panthers</a></li>
							<li><a href="about.html">About</a></li>
						</ul>
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
			</div>
			<div class="nav navbar-nav navbar-right social-icons wow fadeInRight animated animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInRight;">
					<ul>
						<li><a href="#"> </a></li>
						<li><a href="#" class="pin"> </a></li>
						<li><a href="#" class="in"> </a></li>
					</ul>
				</div>
			<div class="clearfix"> </div>	
		</div>
	</div>
	<!--start-main-->
	<div class="header-bottom">
		<div class="container">
			<div class="logo wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
				<h1><a href="index.html">PANTHERS</a></h1>
				<p><label class="of"></label>The University You Choose.<label class="on"></label></p>
			</div>
		</div>
	</div>
<!-- banner -->

<div class="banner">
<div class="container">	
		<h2>PANTHERS University</h2>
		<p id="insidetext">Here at panthers we value Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus quibusdam impedit, voluptas laborum alias fugiat optio corporis ratione nulla reiciendis et architecto saepe ex a omnis assumenda recusandae! Soluta, necessitatibus!.</p>
		<a href="about.html">Find Out More</a>
	</div>
</div>

	<!-- content start -->
	<div class="technology">
	<div class="container">
		<div class="col-md-9 technology-left">
		<div class="tech-no">
			<!-- technology-top -->
			
			 <div class="tc-ch wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
				
					<div class="tch-img">
						<a href="singlepage.html"><img src="images/Uni/action-adults-adventure-248547.jpg" class="img-responsive" alt=""></a>
					</div>
					
					<h3><a href="singlepage.html">Panthers Race</a></h3>
					<h6>BY <a href="singlepage.html">Adel Khalid </a>JULY 10 2018.</h6>
						<p>The first bike race in the country was held on the 10th of july on panther's university campus in which more than 100 students from the university participated in the 10 kilometer race.</p>
						<p>The race started at 9am at the central library heading west down turring lane.They then headed left towards central campus along the half of a kilo straight lane.</p>
						
						<div class="bht1">
							<a href="singlepage.html">Continue Reading</a>
						</div>
						<div class="soci">
							<ul>
								<li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
								<li class="hvr-rectangle-out"><a class="twit" href="#"></a></li>
								<li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>
								<li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
								<li class="hvr-rectangle-out"><a class="drib" href="#"></a></li>
							</ul>
						</div>
						<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
			<!-- technology-top -->
			<!-- technology-top -->
			<div class="w3ls">
				<div class="col-md-6 w3ls-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
					 <div class="tc-ch">
						<div class="tch-img">
							<a href="singlepage.html">
							<img src="{% static 'images/Uni/code-coding-computer-34676%20(1).jpg' %}" class="img-responsive" alt=""></a>
						</div>
					
						<h3><a href="singlepage.html">EEESE2018 Hackathon</a></h3>
						<h6>BY <a href="singlepage.html">ADAM ROSE </a>July 13 2018.</h6>
							<p>The Third competetion in the field of software engineering was held as a part of the Electrical and Electronics Engineering Student Exhibition and 25 teams competed for the prize.</p>
							<div class="bht1">
								<a href="singlepage.html">Read More</a>
							</div>
							<div class="soci">
								<ul>
									<li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
									<li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-6 w3ls-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
					 <div class="tc-ch">
						<div class="tch-img">
							<a href="singlepage.html"><img src="{% static 'images/m5.jpg' %}" class="img-responsive" alt=""></a>
						</div>
					
						<h3><a href="singlepage.html">New Engineering Department Library</a></h3>
						<h6>BY <a href="singlepage.html">ADAM ROSE </a>JULY 10 2016.</h6>
							<p>The new Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam a nemo blanditiis, qui placeat eum est fuga iure, repudiandae facere dolores consectetur ut sequi aperiam saepe voluptatibus nihil tempora laboriosam.</p>
							<div class="bht1">
								<a href="singlepage.html">Read More</a>
							</div>
							<div class="soci">
								<ul>
									<li class="hvr-rectangle-out"><a class="twit" href="#"></a></li>
									<li class="hvr-rectangle-out"><a class="drib" href="#"></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<!-- technology-top -->
			<div class="wthree">
				 <div class="col-md-6 wthree-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
					<div class="tch-img">
							<a href="singlepage.html"><img src="{% static 'images/Uni/adult-brunette-exercise-1089144.jpg' %}" class="img-responsive" alt=""></a>
						</div>
				 </div>
				 <div class="col-md-6 wthree-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
						<h3><a href="singlepage.html">First Women basketball league</a></h3>
						<h6>BY <a href="singlepage.html">ADAM ROSE </a>JULY 10 2016.</h6>
							<p>The first of many games on the WBL of panthers university Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque nam nemo officiis non voluptatum perferendis. Neque facilis eos nemo possimus eaque vel cupiditate aperiam, illo dolorum odio iusto, delectus quae.</p>
							<div class="bht1">
								<a href="singlepage.html">Read More</a>
							</div>
							<div class="soci">
								<ul>
									
									<li class="hvr-rectangle-out"><a class="twit" href="#"></a></li>
									<li class="hvr-rectangle-out"><a class="pin" href="#"></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
					
				 </div>
					<div class="clearfix"></div>
			</div>
			<div class="wthree">
				 <div class="col-md-6 wthree-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
					<div class="tch-img">
							<a href="singlepage.html"><img src="{% static 'images/m2.jpg' %}" class="img-responsive" alt=""></a>
						</div>
				 </div>
				 <div class="col-md-6 wthree-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
						<h3><a href="singlepage.html">Ed Sheeran wah here!</a></h3>
						<h6>BY <a href="singlepage.html">ADAM ROSE </a>JULY 10 2016.</h6>
							<p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris .</p>
							<div class="bht1">
								<a href="singlepage.html">Read More</a>
							</div>
							<div class="soci">
								<ul>
									<li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>									
									<li class="hvr-rectangle-out"><a class="fb" href="#"></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
					
				 </div>
					<div class="clearfix"></div>
			</div>
			<div class="wthree">
				 <div class="col-md-6 wthree-left wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
					<div class="tch-img">
							<a href="singlepage.html"><img src="{% static 'images/Uni/cheerful-cheering-crowd-8590.jpg' %}" class="img-responsive" alt=""></a>
						</div>
				 </div>
				 <div class="col-md-6 wthree-right wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
						<h3><a href="singlepage.html">Panthers football league Final.</a></h3>
						<h6>BY <a href="singlepage.html">ADAM ROSE </a>JULY 10 2016.</h6>
							<p>Ut enim ad minim veniam, quis nostrud eiusmod tempor incididunt ut labore et dolore magna aliqua exercitation ullamco laboris.</p>
							<div class="bht1">
								<a href="singlepage.html">Read More</a>
							</div>
							<div class="soci">
								<ul>
									<li class="hvr-rectangle-out"><a class="drib" href="#"></a></li>
									<li class="hvr-rectangle-out"><a class="goog" href="#"></a></li>
								</ul>
							</div>
							<div class="clearfix"></div>
					
				 </div>
					<div class="clearfix"></div>
			</div>
			</div>
		</div>
		<!-- technology-right -->
		<div class="col-md-3 technology-right">
				
				
				<div class="blo-top1">
							
					<div class="tech-btm">
					
					<h4>Popular Posts </h4>
						<div class="blog-grids wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
							<div class="blog-grid-left">
								<a href="singlepage.html"><img src="{% static 'images/Uni/code-coding-computer-34676%20(1).jpg' %}" class="img-responsive" alt=""></a>
							</div>
							<div class="blog-grid-right">
								
								<h5><a href="singlepage.html"></a> EEESE2018 Hackathon</h5>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blog-grids wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
							<div class="blog-grid-left">
								<a href="singlepage.html"><img src="{% static 'images/m2.jpg' %}" class="img-responsive" alt=""></a>
							</div>
							<div class="blog-grid-right">
								
								<h5><a href="singlepage.html">Ed Sheeran was here!</a> </h5>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blog-grids wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
							<div class="blog-grid-left">
								<a href="singlepage.html"><img src="{% static 'images/Uni/cheerful-cheering-crowd-8590.jpg' %}" class="img-responsive" alt=""></a>
							</div>
							<div class="blog-grid-right">
								
								<h5><a href="singlepage.html">Panthers football league final</a> </h5>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blog-grids wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
							<div class="blog-grid-left">
								<a href="singlepage.html"><img src="{% static 'images/Uni/adult-brunette-exercise-1089144.jpg' %}" class="img-responsive" alt=""></a>
							</div>
							<div class="blog-grid-right">
								
								<h5><a href="singlepage.html">First women basketball league</a> </h5>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="blog-grids wow fadeInDown"  data-wow-duration=".8s" data-wow-delay=".2s">
							<div class="blog-grid-left">
								<a href="singlepage.html"><img src="{% static 'images/m5.jpg' %}" class="img-responsive" alt=""></a>
							</div>
							<div class="blog-grid-right">
								
								<h5><a href="singlepage.html">Everything Everything concert.</a> </h5>
							</div>
							<div class="clearfix"> </div>
						</div>
                    </div>					
				</div>
				
			
		</div>
		<div class="clearfix"></div>
		<!-- technology-right -->
	</div>
</div>
<!-- End of content -->
<div class="footer">
		<div class="container">
			<div class="col-md-12 footer-middle" style="text-align: center;">
			<a href="index.html"><h4>Panthers University</h4></a>
			<div class="mid-btm" id="footerback">
				<a href="index.html" id="footerlist" style="margin-right: 10px;">Home</a>
				<a href="News.html" style="margin-right: 10px; margin-left: 10px;">News</a>
				<a href="Events.html" style="margin-right: 10px; margin-left: 10px;">Events</a>
				<a href="StudentHub.html"  style="margin-right: 10px; margin-left: 10px;">Student Hub</a>
				<a href="Admitions.html" style="margin-right: 10px; margin-left: 10px;">Addmission</a>
				<a href="panthers.html" style="margin-right: 10px; margin-left: 10px;">Panthers</a>
				<a href="about.html" style="margin-right: 10px; margin-left: 10px;">About</a>
			</div>
			
				
		
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</body>
</html>