{% extends 'base.html' %}

{% block title %}
News 
{% endblock %}


{% block content %}
<h2>Our latest news</h2> 
<h4> Global </h4>
<div class="container">
    {% for g in glo_news %}
<h5><a href="{{ g.get_absolute_url }}"> {{ g.title }} </a>  by {{ g.author }}  at {{ g.publish }} </h5>
<p>{{ g.body }}</p>
<hr>
</div>

{% endfor %}

<h4> Electrical </h4>
<div class="container">
    {% for g in elec_news %}
<h5><a href="{{ g.get_absolute_url }}"> {{ g.title }} </a>  by {{ g.author }}  at {{ g.publish }} </h5>
<p>{{ g.body }}</p>
<hr>
    {% endfor %}
</div>

{% endblock %}